.nasaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.nasaApod {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  transition: transform 0.3s ease-in-out;
}

.nasaApodDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem 2rem 2rem;
  gap: 2rem;
}

.nasaApod:hover {
  transform: scale(1.03);
}

.nasaHeader {
  font-family: var(--font-whimsical);
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.nasaHeader:hover {
  transform: scale(1.03);
}

.nasaApod h3 {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem 0;
  font-family: var(--font-whimsical);
  font-weight: bold;
  text-align: center;
  background-color: #7579a2;
}

.nasaApod img {
  object-fit: cover;
  width: 31rem;
  height: 31rem;
  border-radius: 0.5rem;
}

.nasaApod p {
  color: var(--color-primary);
  font-family: var(--font-whimsical);
}