.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    background-color: var(--color-black);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 30px;
    gap: 67px;
    margin-top: 113px;
    color: var(--color-white);
}

.textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 24px;
}

.homeButton {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: var(--color-black);
    color: var(--color-coral);
    border: 2px solid var(--color-coral);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.homeButton:hover {
    background-color: var(--color-coral);
    color: var(--color-black);
}

.decoration {
    padding: 15px;
    margin-top: auto;
}