.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* TODO: space between? */
    height: 100vh;
    /* TODO: space between? */
    background-color: var(--color-black);
    gap: 80px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0px 35px;
    gap: 67px;
    margin-top: 113px;
    /* TODO: space between? */
    color: var(--color-white);
}

.textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 24px;
}

/* TODO:why does it look so weird? + font */
.homeButton {
    display: flex;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-coral);
    border: 2px solid var(--color-coral);
    border-radius: 25px;


    font-family: "Futura-Medium";
    /* TODO: space between? */
    font-size: 20px;
    padding: 4px 22px 4px 22px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.homeButton:hover {
    background-color: var(--color-coral);
    color: var(--color-black);
}

.decoration {
    padding: 15px;
    margin-top: auto;
}