:root {
    --color-coral: #FE4F4C;
    --color-yellow: #F0CF4A;
    --color-purple: #6B30FA;
    --color-pink: #FE77D6;
    --color-black: #000000;
    --color-cyan: #06686B;
}

@font-face {
    font-family: 'Futura-Medium';
    src: url('/fonts/futura-medium.ttf') format('truetype');
}

.heading-1 {
    font-family: 'Futura-Medium';
    font-size: 36px;
    line-height: 47.81px;
}

.heading-2 {
    font-family: 'Futura-Medium';
    font-weight: 700;
    font-size: 20px;
    line-height: 26.58px;
}

.body-text {
    font-family: 'Futura-Medium';
    font-size: 16px;
    line-height: 21.25px;
}

input,
button {
    padding: 4px 22px 4px 22px;
    border-radius: 29px;
    font-family: "Futura-Medium";
    font-size: 20px;
    cursor: pointer;
}