.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    background-color: var(--color-black);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 30px;
    margin-top: 113px;
    color: var(--color-white);
    gap: 24px;
}

.decoration {
    padding: 15px;
    margin-top: auto;
}