.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0 41px;
}

.inputContainer {
    display: flex;
    width: 100%;
}

.input {
    background-color: var(--color-black);
    width: 100%;
    font-family: 'Futura';
}

.input[type="email"] {
    border: 2px solid var(--color-pink);
    color: var(--color-pink);
}

.input[type="email"]::placeholder {
    color: var(--color-pink);
}

.input[type="email"]:focus-visible {
    outline: none;
    border: 2px solid var(--color-pink);
}

.input[type="email"].focused {
    background-color: var(--color-pink);
    color: var(--color-black)
}

.input[type="password"] {
    border: 2px solid var(--color-yellow);
    color: var(--color-yellow);
}

.input[type="password"]::placeholder {
    color: var(--color-yellow);
}

.input[type="password"]:focus-visible {
    outline: none;
    border: 2px solid var(--color-yellow);
}

.input[type="password"].focused {
    background-color: var(--color-yellow);
    color: var(--color-black)
}

.error {
    color: var(--color-coral) !important;
    border: 2px solid red !important;
}

.signupButton {
    display: flex;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-purple);
    font-family: "Futura-Medium";
    font-size: 24px;
    padding: 0 25px 7.5px 25px;
    font-weight: 500;
    border: 2px solid var(--color-purple);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signupButton:hover {
    background-color: var(--color-purple);
    color: var(--color-black);
}

.signin {
    text-align: center;
    color: var(--color-white);
    font-family: "Futura", sans-serif;
}

.link {
    color: var(--color-cyan);
    text-decoration: underline;
}