@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-primary: #2b2d42;
  --color-secondary: #bfc6d2;
  --color-background: #f5f5f5;
  --color-accent: #535bf2;

  --color-white: #FFFFFF;
  --color-light-gray: #f4f4f4;

  --border-radius: 0.5rem;

  --font-titles: "Rubik", serif;
  --font-whimsical: 'Papyrus', 'Comic Sans MS', cursive;

  --font-body: system-ui, sans-serif;
}

body {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
  overflow-x: hidden;
}

header {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--color-background);

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--font-titles); */
  font-family: sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}